@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap");
body {
  height: 100vh;
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 700;
}

#text {
  height: 20px;
  font-size: 4rem;
  color: #fff;
}

#text::after {
  content: "";
  width: 3px;
  height: 50px;
  display: inline-block;
  background-color: #fff;
  animation: flasher 0.6s infinite linear;
  opacity: 0;
  margin-left: 10px;
}

@keyframes flasher {
  from {
    opacity: 1;
  }
}
